         <div id=sign_in2>
<div class="section_header">
                <h3>Create your account</h3>
            </div>
<div class="row login">
                <div class="col-sm-6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="form">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<input type="text" class="form-control" placeholder="Username" name="user[username]">
<div class="errormsg" ><%=resource && resource.errors['username'] ? resource.errors['username'][0] : ""%></div>
<input type="text" class="form-control" placeholder="E-Mail" name="user[email]">
<div class="errormsg" ><%=resource && resource.errors['email'] ? resource.errors['email'][0] : ""%></div>
<input type="text" class="form-control" placeholder="Password" name="user[password]">
<div class="errormsg" ><%=resource && resource.errors['password'] ? resource.errors['password'][0] : ""%></div>
<input type="text" class="form-control" placeholder="Password Confirmation" name="user[password_confirmation]">
<div class="errormsg" ><%=resource && resource.errors['password_confirmation'] ? resource.errors['password_confirmation'][0] : ""%></div>
<div class="forgot">
<span>Already have an account?</span>
<a href="/users/sign_in">Sign in</a>
</div>
<div><%= f.submit "Sign up" %></div>
<% end %>
<%#= render "devise/shared/links" %>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
